*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
p{
    font-weight: 400;
    font-size:1.5rem
}
.parent-container{
    
    height:100vh;
    font-family: 'Poppins', sans-serif;
}
.head-section{
    text-align: center;       
    padding:1.5rem 0;   
    min-height: 10vh;    
}
.head-section h1{
    text-align: center;
}
.generator{    
    padding:2rem 1rem ;
    height:80vh;
}
.flex-container{
    display:flex;        
    padding:1rem 1rem;    
}
.flex-item{
    flex:1;     
}