.hightlight-input {
  background-color: transparent !important;
  z-index:2;  
}

.backdrop {    
  position:absolute;
  top:6px;
  left:-2px;
  overflow: none;
  background-color: transparent;
  z-index:0;  
}
mark {
  margin:11px;
  padding:2px;
  color: transparent;
  background-color: #d4e9ab;  
}

.highlights {
  color: transparent;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.transition-effect {
  animation: fadeOut ease-out 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
