<%- include('./partials/header.ejs') %>
<body>
    <div class="parent-container container mb-5">
        <div class="head-section pt-5">
            <p class="text-center display-4">Regular Expression Generator</p>
        </div>
        <div class="container">
            <label for="inputText">Input Text</label>
            <div class="input-group mb-3 ">
                <div class="backdrop">
                    <div class="highlights">
                    </div>
                </div>
                <input type="text" class="form-control hightlight-input" id="inputText">
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-group">
                        <label for="operatorSelect">Operators</label>
                        <select class="form-control" id="operatorSelect">
                            <option class="dropdown-item" value=""></option>
                        </select>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="setSelect">Sets</label>
                        <select class="form-control" id="setSelect">
                            <option class="dropdown-item" value=""></option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <input type="text" class='form-control' placeholder="start">
                        </div>
                        <div class="col-sm">
                            <input type="text" class='form-control' placeholder="end">
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="form-group">
                        <label for="quantifierSelect">Quantifiers</label>
                        <select class="form-control" id="quantifierSelect">
                            <option class="dropdown-item" value=""></option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            <input type="text" class='form-control' placeholder='start'>
                        </div>
                        <div class="col-sm">
                            <input type="text" class='form-control' placeholder='end'>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-sm-auto">
                        <button type="button" id='add' class="btn btn-secondary mt-4 w-30">Add Step<i
                                class="fas fa-plus-circle pl-2"></i></button>
                    </div>
                </div>
            </div>
            <label for="expression">Expression</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="expression">
                <div class="input-group-append">
                    <button class="btn btn-secondary" type="button" id="copyToClipboard-button">
                        <i class="far fa-clipboard"></i></button>
                </div>
            </div>
            <div class="card w-100 mt-2">
                <div class="card-body">
                    <h5 class="card-title">Sample String</h5>                        
                    <p id="DataString" class='card-text display-4'></p>
                    <div id="stats"></div>
                </div>
            </div>
            <button type="button" id='reset' class="btn btn-danger w-100 mt-4">Reset <i
                    class="far fa-trash-alt"></i></button>
        </div>
    </div>
</body>
<%- include('./partials/footer.ejs') %>